.body {
    width: 400px;
    height: 400px;
    background-color:#ff000057;
    color: white;
}

.title {
    width: 30%;
    text-align: center;
    padding:1.5%;
    display: inline-block;
    cursor: pointer;
}