.slideShow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
    text-align: center;
    cursor: pointer;
  }
 
    .next {
        display: inline-block;
        width: 5%;
        
    }
    .backwards {
        display: inline-block;
        width: 5%;
    }


 /* Default look of the slide */ 
  .slide {
    display: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 90%;
  }
  
  .slide-small {
      max-height: 200px;
      min-height: 200px;
  }

  .slide-medium {
    max-height: 300px;
    min-height: 300px;
}

.slide-large {
    max-height: 600px;
    min-height: 600px;
}
  /* In order to display the image */ 
  .slide.show {
    display: inline-block;    
  }

  .fa-arrow-circle-right:before {
      size: 100px;
  }