.alarm {
    background-image: url('https://i.imgur.com/pVL00RZ.jpg');
    height: 425px;
    width: 750px;
    background-repeat:no-repeat;
    background-size:contain;
    color: red;
}

.hournminutes {
    display: inline-block;
    margin-bottom: 14px;
    margin-top: 37px;
    margin-left: 18px;
}

.hournminutes p {
    text-align: center;
    background-color: transparent;
    margin: 0;
    padding-left: 32%;
    border: none;
    font-size: 100px
}
.hournminutes input:focus {
    outline: none;
}

.container {
    padding-left: 20%;
    margin-top: -10%;
}

.ampm {
    color: red;
    margin-left: 16%;
    margin-top: -2px;
}

.arrowdivs {
    display: inline-block;
    margin-left: 10%;
    width: 35%;
}

.leftup {
    composes: arrowdivs;
    text-align: right;
    padding-right: 10px;
    margin-top: 18%;
}

.rightup {
    composes: arrowdivs;
    text-align: left;    
    margin-top: 18%;
}

.leftdown {
    composes: arrowdivs;
    text-align: right;
    padding-right:10px;
}

.rightdown {
    composes: arrowdivs;
    text-align: left;    
}

.bottom {
    margin-top: -5%;
}