.modalOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    background-color: rgba(0, 0, 0, .5);
}

.modal {
    position: relative;
    background-color: white;
    
}

.modalClose {
    position: absolute;
    top: 10px;
    right: 10px;
    transition: color 1s;
}

.modalClose:hover {
    color: white;
    cursor: pointer;
}

.modalTitle {
    height: 60px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    background-color: rgba(73, 73, 73, 0.5);
    border-bottom: solid 6px rgba(255,0, 100, .8);
}

.modalBody {
    padding: 20px;
    /* height: 170px; */
}

.modalFooter {
    padding: 20px;
    height: 37px;
    color: black;
    background-color: rgba(110, 110, 110, 0.5);

}
.hidden {
    display: none !important;
}

.button {
    margin: auto;
    
}